body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

#col1 {
	width: 60%;
    justify-content: space-around;
}

#col2 {
	width: 40%;

}

.container {
    display: flex;
    justify-content: space-around;
}

.container > .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip{
    position:absolute;
    background-color: black;
    color: purple;
    font-weight: bold;
    padding: 5px;
}